@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kif-yellow: #FFD400;
  --kif-black: #1a1a1a;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
